.documentation-pages,
.home-page {
    min-width: 100%;
    background-color: #f7f7f7;

    .vega-cms-home {
        font-size: 4.2rem;
        font-family: 'Poppins', sans-serif;
        color: #35495e;
    }
    .vega-cms-home-subtitle {
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
      color: #35495e;
    }

    @media (max-width: 1240px) {
        .col-lg-2, .col-lg-10 {
          width: 100%;
        }
        .documentation-home-sidebar {
            height: auto;
        }
        .documentation-side-nav {
            display: inline-flex!important;
            flex-wrap: wrap;
        }
    }

    .sub-title {
        font-size: 4.8rem;
    }

    .content {
          margin-top: 7rem;
          padding: 3rem 1.5rem;
          min-height: calc(100vh - 12.3rem);

          .card {
              border: 0;
              margin-bottom: 3rem;
              margin-top: 3rem;
              border-radius: 6px;
              color: #333333;
              background: white;
              width: 100%;
              box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
          }
          .card [class*="card-header-"] {
              margin: -2.5rem 1.5rem 0 1.5rem;
              border-radius: 6px;
              padding: 0;
              position: relative;
              box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
              padding: 1.5rem 1rem;
          }
          .card-body {
              background: white;
              margin-bottom: 1rem;
          }
          .card-header {

          }
          .card-header-primary {
            background: linear-gradient(45deg, #35495e, #41b883);
          }
          .card-title {
              letter-spacing: 2px;
              font-size: 2.2rem;
              color: white;
              width: 100%;
              text-align: center;
              font-weight: 300;
              text-transform: uppercase;
          }

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 3rem;
            margin-top: 7rem;

            span {
                font-weight: bolder;
            }
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 500;
            margin: 4rem 0 2rem 0;
        }

        p {
            font-size: 1.8rem;

            .url-text {
                font-family: Courier, monospace;
            }

            .email {
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
            }

            .password {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bolder;
            }
        }

        pre {
            background: lightgray;
            padding: 3rem;
            margin-right: 5rem;
        }

        .command {
            font-size: 2rem;
            margin-left: 5rem;
        }

        .new-paragraph {
            margin-top: 5rem;
        }
    }

    .footer {
      background: #eee;
      font-size: 1.5rem;
      color: black;
      text-align: right;
      padding: 1rem 1.5rem;
      position: fixed;
      bottom: 0px;
      width: 100%;
      left: 0;
    }

    @media (max-width: 768px) {
        .content {
            //height: 67rem;
            min-width: 100%;

            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }
        .footer {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 576px) {
        .vega-cms-home {
            margin-bottom: 30rem;
        }

        .content {
            min-height: 56rem;

            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 2rem;
            }
        }

        .footer {
            bottom: 40px;
        }
    }


    .navbar {
      height: auto;
    }
}
