.home-page {
    background: #282828;
    //padding: 0;
    //margin: 0;
    //top: 0;
    //left: 0;
    //width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 0 2rem 2rem 2rem;

    .title {
        color: peachpuff;
        font-weight: bolder;
        font-size: 7rem;
        text-align: center;
        padding-top: 18rem;
        letter-spacing: 0.5rem;
    }

    .sub-title {
        font-size: 4.8rem;
    }

    .description {
        font-size: 1.7rem;
        color: peachpuff;
        max-width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 5rem;
    }

    .footer {font-size: 1.5rem;
        color: white;
        text-align: right;
        padding-top: 5rem;
        padding-right: 3rem;
        padding-bottom: 2rem;
        margin-top: 32rem;
    }
}
